database.url=jdbc:mariadb://hostname:port/dbname
database.username=username
database.password=password
dataSource.cachePrepStmts=true
dataSource.prepStmtCacheSize=250
dataSource.prepStmtCacheSqlLimit=2048
dataSource.useServerPrepStmts=true
dataSource.useLocalSessionState=true
dataSource.rewriteBatchedStatements=true
dataSource.cacheResultSetMetadata=true
dataSource.cacheServerConfiguration=true
dataSource.elideSetAutoCommits=true
dataSource.maintainTimeStats=false
dataSource.maximumPoolSize=10 # should be equal to numConsumerThreads
dataSource.connectionTimeout=60000
dataSource.leakDetectionThreshold=60000
ignoreUberJarSignatures=true
numConsumerThreads=10
totalJars=42
mongoDbDatabase=osv_db
mongoDbCollection=data
mongoDbConnectionString=mongodb://localhost:27072